yapf
pip-tools
git+https://github.com/ceandrade/brkga_mp_ipr_python@ce2984cd29ff6c53b82848d3f679ca9fe164cc0d#egg=brkga-mp-ipr
haversine
networkx
pyllist
docplex
matplotlib
git+https://github.com/Phlya/adjustText@cb8b09d1e2663e75ac8755ed56f95f09ecf353ab#egg=adjustText
pandas
scipy
